@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
  background-color: purple;
  flex-direction: column;
}
.main-header {
  font-family: "Cinzel", serif;
}
.create-form label {
  color: whitesmoke !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
}
